<div class="navboi" role="navigation">
  <div class="flexyboi titleboi" ng-class="{'stack': screenWidth < 500}">
  
      <div class="logoboi" style="padding-right: 12px;" ng-class="{'largerlogo': screenWidth < 500}"></div>

      <a href="#" style="color: black !important; text-decoration: none; display: flex;" ng-class="{'largerapptitle': screenWidth < 500}">Statements</a>

      <a href="#" style="color: white !important; text-decoration: none; display: flex;" >
        <div ng-class="{'largervalueprop': screenWidth < 500}" style="text-align: center"> Write directly by Chat</div>
      </a>

      <a href="#" style="color: black !important; text-decoration: none; display: flex;">
        <div ng-if="screenWidth > 500" ng-click="[joinAsGuest($event), safety = true]" ng-mouseover="plusToggle = !plusToggle" ng-mousedown="plusToggle = !plusToggle" ng-mouseup="plusToggle = !plusToggle" ng-class="{'whiteplus': plusToggle}" class="glyphicon glyphicon-plus" style="tezt-align: center"></div>
      </a>
    
    <!-- <span class="spacerboi"></span> -->

    <div class="wrappyboi rightytightyboi" ng-if="screenWidth > 500">
     <img src="/assets/images/scalethis.png" style="min-height: 90px;max-height: 90px;min-width: 728px;max-width: 728px; height: 90px; width: 728px;">
    </div>
  </div>
</div>
