<div class="navboi" role="navigation">
  <div class="flexyboi">
    <div class="wrappyboi titleboi" ng-class="{'navbartextcentered' : screenWidth < 500}">
      <div class="logoboi" style="height: 36px; padding-right: 12px;" ></div>
      <a href="#" style="color: black !important; text-decoration: none;">&nbsp;Statements</a>
      <a href="#" style="color: white !important; padding-left: 40px; padding-right: 40px;text-decoration: none;">
      <span style="text-align: center"> Write directly by Chat</span>
      </a>
      <a href="#" style="color: black !important; text-decoration: none;">
      <span ng-click="[joinAsGuest($event), safety = true]" ng-mousedown="plusToggle = !plusToggle" ng-mouseup="plusToggle = !plusToggle" ng-class="{'whiteplus': plusToggle}" class="glyphicon glyphicon-plus" style="tezt-align: center"></span>
      </a>
    </div>
    <!-- <span class="spacerboi"></span> -->

    <div class="wrappyboi rightytightyboi">
     <img src="/assets/images/scalethis.png" style="min-height: 90px;max-height: 90px;min-width: 728px;max-width: 728px; height: 90px; width: 728px;">
    </div>
  </div>
</div>
