* {
	box-sizing: border-box;
}

#container {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: -2opx 0 50px;

}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-space: .5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

* {
	color: #333;

}