<div class="landing-wrapper" id="widthtograb">

  <!-- I put this here for debugging purposes for the parallax effect -->
  <!-- Comment out to hide -->
  <!-- Thanks! -->
  <!--  <div class="debug-box">-->
  <!--    <div class="form-check">-->
  <!--      <label class="form-check-label" for="debugLabel">Debug</label>-->
  <!--      <input class="form-check-input" id="debugLabel" ng-model="debugMode" style="width: 20px;" type="checkbox"/>-->
  <!--    </div>-->
  <!--  </div>-->
  <!-- -->

  <nd-landing-navbar></nd-landing-navbar>
  <div ng-class="{ 'debug-on': debugMode }">
    <div class="parallax" du-scroll-container>
      <div class="parallax-group" id="group1">
        <div class="parallax-layer parallax-layer--fore">
          <!--          <div class="container" id="widthtograb">-->
          <!--            <div class="row" style="margin-bottom: 20%; position:absolute;" ng-class="{'wide': selectedOption.number < 2, 'narrow': selectedOption.number == 2}">-->

          <!--              <div class='carouselcontainer'>-->
          <div class="col" style="color: black;">
            <div class="row" style="padding-top: 35px;">
              <span style="font-size: 1.35em" id="title">Write <span style="">directly</span> by chat</span>
            </div>
            <div class="row" style="margin-bottom: 10px">
              <span style="font-size: 0.95em" id="subtitle">Introducing
                <!-- <span style="text-decoration: line-through; opacity: 0.5">word</span>  -->
                <span style="font-weight: bold">sentence</span> processing</span>
            </div>
            <div class="row" ng-class="osClass">
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="exampleAuthor" autoplay="autoplay" muted="muted" loop video-src="authorVideoSources">
                  </video>
                </div>
              </div>
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="exampleCritic" style="width: 100%; padding-left: 0px; padding-right: 0px;" autoplay="autoplay" muted="muted" loop video-src="criticVideoSources">
                  </video>
                </div>
              </div>
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="other"  autoplay="autoplay" muted="muted" loop video-src="otherVideoSources">
                  </video>
                </div>
              </div>
            </div>
          </div>
              <button ng-click="[assignLastNumber(), selectedOption.number = 0]">Option 0</button>
            <button ng-click="[assignLastNumber(), selectedOption.number = 1]">Option 1</button>
                  <button ng-click="[assignLastNumber(), selectedOption.number = 2]">Option 2</button>
              <br/>
                QWERTYUIOP ASDFGHJKL   Option: {{selectedOption.number}} LO: {{lastOption.number}}
              <span id="status"> 0, 0 </span>
                          <div class="sliderContainer" ng-if="screenWidth < 500">

                            <div style="position:absolute" ng-class="{'byezero': selectedOption.number > 10, 'zeroexitleft': selectedOption.number == 2, 'zeroenterleft': selectedOption.number == 1 && lastOption.number == 2}">
                              <div  class="slider zero">
                                <div class="innerbox">
                                  <div class='infotext' ng-if="selectedOption.number != 2">
                                  Write documents
                                  <br>
                                  </div>
                                  <div class='editortext' ng-class="{'preload': preload }" ng-if="selectedOption.number != 2">
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div style="position: absolute;">
                              <div ng-class="{'oneright': selectedOption.number === 1, 'oneleft': selectedOption.number == 2,'twotoone': selectedOption.number == 1 && lastOption.number == 2, 'oneexitright': selectedOption.number === 0 && lastOption.number === 1 }" class="slider one">
                                <div class="innerbox">
                                  <div class="innerbox">
                                    <div class='messenger' ng-class="{'preload': preload}" ng-if="selectedOption.number == 1">
                                    </div>
                                    <div class='infotext' ng-if="selectedOption.number == 1" style="padding-left: 20px;">
                                    Entirely by conversation
                                    </div>
                                    <div class='messenger' ng-class="{'preload': preload}" ng-if='selectedOption.number == 2' style="position: absolute; right: 0px;">
                                    </div>
                                    <div class='infotext' ng-if='selectedOption.number == 2' style="padding-left: 20px;">
                                    Write it entirely by message
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div style="position: absolute; top: 0px;" >
                              <div ng-class="{'byezero': selectedOption.number < 2, 'hideright': selectedOption.number < 2, 'twoexitright': selectedOption.number === 1 && lastOption.number == 2}"class="slider two">
                                <div class="innerbox">
                                  <div class='messenger2' ng-class="{'preload': preload}">
                                  </div>
                                  <div class='infotext'style="padding-left: 20px;">
                                  Without the need to view what you're writing
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
          <!--               <div class="col">
                          <div class="big-text">
                            <br>
                            <p class="emphasize">Statements</p>
                            <ul>
                              <li>is a <i>sentence</i> processor</li>


                            </ul>
                            <br>
                            <p>Write and edit documents</p>

                            <ul>
                              <li>entirely by message</li>


                            </ul>
                          </div>
                        </div>
                        <div class="col">
                          <div class="preview">
                            <div class="preview-img"></div>
                          </div>
                        </div> -->
          <!--            </div>-->
          <!--          </div>-->
          <div class="guest-button-wrapper" style="">
            <div class="inner">
              <br>
              <button class="btn btn-lg btn-default btn-block"
                      ng-click="screenWidth > 500 ? [joinAsGuest($event), safety = true] : inputs.nothing"
                      style="border: 1px solid black; width: auto; font-size: .85em !important"
                      type="button">
                <span style="">
<!--                <span ng-if="!loggingIn && (theWidth.value < 700)">Please visit Statements using a wider screen</span>-->
                  <span ng-if="!loggingIn && screenWidth > 500">Start Writing</span>
                  <span ng-if="loggingIn && screenWidth > 500"><i class="fa fa-spinner fa-spin"></i>&nbsp;</span>
                  <span ng-if="loggingIn && screenWidth > 500">(Loading)</span>
                  <span ng-if="screenWidth < 500 || screenWidth === 500">Available on Desktop Only</span>
                </span>
              </button>

<!--               <button class="btn btn-lg btn-default btn-block"
                      ng-click="[]"
                      style="border: 1px solid black; width: auto; font-size: .85em !important; margin-top: 0px; margin-left: 20px;"
                      type="button">
                <span style="">
                <span ng-if="!loggingIn && (theWidth.value < 700)">Please visit Statements using a wider screen</span>
                  <span ng-if="!loggingIn">Log In</span>
                  <span ng-if="loggingIn"><i class="fa fa-spinner fa-spin"></i>&nbsp;</span>
                  <span ng-if="loggingIn">(Loading)</span>
                </span>
              </button>   --> 

            </div>
          </div>
          <div class="scroll-icon-wrapper">
            <a du-smooth-scroll href="#group2">
              <i class="fa fa-4x fa-caret-down"></i>
            </a>
          </div>
        </div>
        <div class="parallax-layer parallax-layer--back">
          <div class="parallax-layer parallax-layer--base">

          </div>
        </div>
      </div>

      <div class="parallax-group" id="group2">
        <div class="parallax-layer parallax-layer--base"></div>
        <div class="parallax-layer parallax-layer--fore">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa-inverse fa fa-users"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Write without needing the document in view</p>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa-inverse fa fa-comments"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Unlimited co-authors, zero edit conflicts</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa fa-user-friends"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Documents drafted at conversation speed means rapid authorship</p>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa fa-book"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Systematically improve content through state-of-the-art sentence mechanics</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="parallax-layer parallax-layer--fore">
          <div class="footer-wrapper">
            Copyright &copy; 2022 Statements | All rights reserved | For more information <a href="mailto:statementsapp@protonmail.com">contact us</a>.
          </div>
          <div class="scroll-icon-wrapper">
            <a du-smooth-scroll href="#group1">
              <i class="fa fa-4x fa-caret-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




