

<div class="landing-wrapper" id="widthtograb">
  <!-- <stmnts-landing-navbar></stmnts-landing-navbar> -->
  <div ng-class="{ 'debug-on': debugMode }">
    <div class="parallax" du-scroll-container>
      <div class="parallax-group" id="group1">
        <div class="parallax-layer parallax-layer--fore">

          

          

          <div class="col" ng-if="screenWidth < 500" style="color: black; " >
            <div class="navboi" role="navigation" ng-if="screenWidth < 500">
              <div class="flexyboi titleboi stack">
                <div style="display:flex; align-items: center" class="stack">
                  <span class="logoboi largerlogo" style="padding-right: 12px;"></span>
                  <span class="nonethatpadding">
                    <a class="thisname largerapptitle" href="#" style="color: black !important; text-decoration: none;  display: flex;">Statements
                    </a>
                    <div>
<!--                       <a href="#" style="color: white !important; text-decoration: none; display: flex; " class="valueprop nonethatpositioning">
                          <div class="largervalueprop" style="text-align: center"> Write directly by Chat</div>
                      </a> -->
                    </div>
                  </span>
                  <a href="#" style="color: black !important; text-decoration: none; display: flex;">
                  </a>
                </div>
                <div class="wrappyboi rightytightyboi" ng-if="cowsComeHome">
                 <img src="/assets/images/scalethis.png" style="min-height: 90px;max-height: 90px;min-width: 728px;max-width: 728px; height: 90px; width: 728px;">
                </div>
              </div>
            </div>
            <video id="exampleAuthor" autoplay="autoplay" muted="muted" loop video-src="compositeVideoSources" style="padding-bottom:10px;">
            </video>
            <div class="disclaimer">
              <div>(Designed for Desktop)</div>
              <span>Rapid Word Processing for Smartphone Coming Soon</span>
            </div>
            <div ng-if="cowsComeHome">
              <img src="/assets/images/brooklinebank.jpeg" style="height:23%; margin-top:10px">
            </div>
          </div>






          <div class="col" ng-if="screenWidth > 500" style="color: black;">
            <div class="navboi" role="navigation" ng-if="screenWidth > 500 || screenWidth === 500">
              
              <div class="link-box" style="position:absolute; right:10px; top:10px;">
              <div class="landingbuttonscontainer">
                <input type="text"
                       class="form-control"
                       id="title"
                       name="bookId"
                       ng-model="vm.bookId"
                       placeholder="Enter book id"
                       ng-keyup="$event.keyCode === 13 ? vm.openBook() : form.nothing">
                <span ng-show="vm.errors.noBookFound" class="help-block"></span>
                <button class="btn menubutton"
                        type="button"
                        uib-tooltip="Register"
                        ng-click="openSignupModal()"
                        >
                  <span style="color: black" id="exporttext">Get Statements</span>
                </button>
                <button class="btn menubutton"
                        type="button"
                        uib-tooltip="Log In"
                        ng-click="openLoginModal()"
                        >
                  <span style="color: black" id="exporttext">Log In</span>
                </button>
              </div>
            </div>
              <div class="flexyboi titleboi">

                <div style="display:flex; align-items: center">

                  <span class="logoboi" style="padding-left: 40px;"></span>
                  <span class="thatpadding">
                    <a class="thisname" href="#" style="color: #F0F0F0 !important; text-decoration: none;  display: flex;">Statements
                    </a>
                    <div>
                      <stripe-pricing-table pricing-table-id="prctbl_1MiNEWLez0mhDDxo8a0IdRSJ"
                      publishable-key="pk_live_51M6MyALez0mhDDxovopyViDejvApDlBPC3ALRUplA8VQqDrE9IMJZYkm4RE3ICMGnH5Asc9kKA5m3yIwj5thQxcZ00jm5dEbOq">
                      </stripe-pricing-table>
                      <a href="#" style="color: white !important; text-decoration: none; display: flex; " ng-if="false" class="valueprop">
                          <div style="text-align: center"> Write directly by Chat</div>
                      </a>
                    </div>
                  </span>

                </div>
                


<!--                 <div style="padding-right: 250px">
                  <div style="width:650px; padding-right: 200px; font-size: 28px; text-align: center" ><strong>Draft documents:</strong></div>
                  <marquee style="width:600px; font-size: 24px; display: block" behavior="scroll" direction="left" scrollamount="8">At the speed of conversation&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Without editing conflicts&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With or without agreement&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Without needing the document in view&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Amongst an unlimited number of collaborators&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile version coming soon</marquee> 
                </div> -->


                <div class="wrappyboi rightytightyboi" ng-if="cowsComeHome">
                 <img src="/assets/images/scalethis.png" style="min-height: 90px;max-height: 90px;min-width: 728px;max-width: 728px; height: 90px; width: 728px;">
                </div>
              </div>
            </div>
            <div class="row" ng-class="osClass" style="" ng-if="false">
              <!-- <span>reviewer</span> -->


              <div>
              <div>Reviewer</div>
              <div class="browser-wrapper" style="margin-top: 0px">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="exampleAuthor" autoplay="autoplay" muted="muted" loop video-src="criticVideoSources">
                  </video>
                </div>
              </div>
              </div>



              <!-- <span>text</span> -->
              <div>
              
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="exampleCritic" style="width: 100%; padding-left: 0px; padding-right: 0px;" autoplay="autoplay" muted="muted" loop video-src="authorVideoSources">
                  </video>
                </div>
              </div>
              </div>



             <div>
              <div>Author</div>
              <div class="browser-wrapper" style="margin-top: 0px">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="other"  autoplay="autoplay" muted="muted" loop video-src="otherVideoSources">
                  </video>
                </div>
              </div>
              </div>



            </div>
          </div>



          


          <div class="guest-button-wrapper" ng-if="screenWidth > 500" style="">
            <div class="inner">
              <br>

<!--               <button class="btn btn-lg btn-default btn-block"
                      ng-click="screenWidth > 500 ? [joinAsGuest($event), safety = true] : inputs.nothing"
                      style="border: 1px solid black; width: auto; font-size: .85em !important"
                      type="button">
                <span style="">

                  <span ng-if="!loggingIn && screenWidth > 500">Start Writing</span>
                  <span ng-if="loggingIn && screenWidth > 500"><i class="fa fa-spinner fa-spin"></i>&nbsp;</span>
                  <span ng-if="loggingIn && screenWidth > 500">(Loading)</span>
                </span>
              </button> -->
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




