<div class="landing-wrapper" id="widthtograb">



  <nd-landing-navbar></nd-landing-navbar>
  <div ng-class="{ 'debug-on': debugMode }">
  







   





        
          <div class="col" ng-if="screenWidth < 500 || screenWidth === 500" style="color: black;">
            <div class="row" style="padding-top: 35px;">
              <span style="font-size: 1.35em" id="title">Write <span style="">directly</span> by chat</span>
            </div>
            <div class="row" style="margin-bottom: 10px">
              <span style="font-size: 0.95em" id="subtitle">Introducing
                <!-- <span style="text-decoration: line-through; opacity: 0.5">word</span>  -->
                <span style="font-weight: bold">sentence</span> processing</span>
            </div>
          </div>

          <div class="col" ng-if="screenWidth > 500" style="color: black;">
            <div class="row" style="padding-top: 35px;">
              <span style="font-size: 1.35em" id="title">Write <span style="">directly</span> by chat</span>
            </div>
            <div class="row" style="margin-bottom: 10px">
              <span style="font-size: 0.95em" id="subtitle">Introducing
                <span style="font-weight: bold">sentence</span> processing</span>
            </div>
            <div class="row" ng-class="osClass">
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="exampleAuthor" autoplay="autoplay" muted="muted" loop video-src="authorVideoSources">
                  </video>
                </div>
              </div>
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="exampleCritic" style="width: 100%; padding-left: 0px; padding-right: 0px;" autoplay="autoplay" muted="muted" loop video-src="criticVideoSources">
                  </video>
                </div>
              </div>
              <div class="browser-wrapper">
                <div class="browser-bar">
                  <div class="browser-button-wrapper">
                    <div class="browser-button left"><i ng-if="osClass === 'windows'" class="fa fa-times"></i></div>
                    <div class="browser-button middle"><i ng-if="osClass === 'windows'" class="fa fa-window-maximize"></i></div>
                    <div class="browser-button right"><i ng-if="osClass === 'windows'" class="fa fa-window-minimize"></i></div>
                  </div>
                </div>
                <div class="video-container">
                  <video id="other"  autoplay="autoplay" muted="muted" loop video-src="otherVideoSources">
                  </video>
                </div>
              </div>
            </div>
          </div>

          <div class="guest-button-wrapper" style="">
            <div class="inner">
              <br>
              <button class="btn btn-lg btn-default btn-block"
                      ng-click="screenWidth > 500 ? [joinAsGuest($event), safety = true] : inputs.nothing"
                      style="border: 1px solid black; width: auto; font-size: .85em !important"
                      type="button">
                <span style="">

                  <span ng-if="!loggingIn && screenWidth > 500">Start Writing</span>
                  <span ng-if="loggingIn && screenWidth > 500"><i class="fa fa-spinner fa-spin"></i>&nbsp;</span>
                  <span ng-if="loggingIn && screenWidth > 500">(Loading)</span>
                  <span ng-if="screenWidth < 500 || screenWidth === 500">(Please visit Statements on desktop)</span>
                </span>
              </button>



            </div>
          </div>
          <div class="scroll-icon-wrapper">
            <a du-smooth-scroll href="#group2">
              <i class="fa fa-4x fa-caret-down"></i>
            </a>
          </div>
       










     






   









      
       
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa-inverse fa fa-users"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Write without needing the document in view</p>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa-inverse fa fa-comments"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Unlimited co-authors, zero edit conflicts</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa fa-user-friends"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Documents drafted at conversation speed means rapid authorship</p>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="fa-2x icon-circle">
                    <i class="fa fa-book"></i>
                  </div>
                </div>
                <div class="row">
                  <p class="description">Systematically improve content through state-of-the-art sentence mechanics</p>
                </div>
              </div>
            </div>
          </div>
       


   
          <div class="footer-wrapper">
            Copyright &copy; 2022 Statements | All rights reserved | For more information <a href="mailto:statementsapp@protonmail.com">contact us</a>.
          </div>
          <div class="scroll-icon-wrapper">
            <a du-smooth-scroll href="#group1">
              <i class="fa fa-4x fa-caret-up"></i>
            </a>
          </div>
        
















    
  </div>
</div>




