<div class="modal-header">
  <div class="modal-title"
       id="modal-title-my-profile"><i class="fa fa-user"></i>&nbsp; Profile
  </div>
</div>
<div class="modal-body"
     id="modal-body-new-book"
     ng-keyup="$event.keyCode === 27 ? vm.dismiss() : form.nothing">
  
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary"
          ng-click="vm.dismiss()">
    Close
  </button>
  <button type="submit"
          ng-disabled="form.$invalid || vm.processing"
          ng-click="vm.updateProfile(form.$valid)"
          class="btn btn-primary">
    <span>
    <span ng-if="vm.processing">
      <i class="fas fa-spinner fa-spin"></i>&nbsp;
    </span>
    Save
    </span>
  </button>
</div>

