.modal-register-button {
  text-align: center;
  width: 50%;
  float: left;
}

.modal-register-button button {
  display: inline-block;
}

.modal-login-form {
  width: 50%;
  float: right;
}

.modal-register-button {
  padding-top: 50px;
  display: flex;
  align-items: center;
  width: 50%;
  float: left;
}

.modal-register-button button {
  display: inline-block;
}

.justlogin {
  width: 100% !important;
}

.modal-register-button.noregister {
  display: none;
}