


<div class="modal-header" style="border-bottom: none; background-color: #0c2340">
  <div class="modal-title"
       id="modal-title-login">
       <span ng-if="data"></span>
  </div>
</div>
<div class="modal-body"
     id="modal-body-login"
     ng-keyup="$event.keyCode === 27 ? vm.cancel() : form.nothing"
     ng-class="{'justlogin' : !data}"
     style="color: #0f0f0f; background-color: #0c2340">
  <div class="modal-register-button" ng-class="{'noregister' : !data}" style="background-color: #0c2340">
    <button type="button" class="btn btn-primary">Register</button>
  </div>
  <div class="modal-login-form" ng-class="{'justlogin' : !data}" style="background-color: #0c2340; color: #f0f0f0;">
    <form name="form"
          novalidate>
      <div class="form-row">
        <div class="form-group col-md-12"
             ng-class="{ 'has-error': form.email.$invalid && !form.email.$pristine }">
          <label for="email">Email</label>
          <input type="email"
                 style="border: 1px solid #1f59a3"
                 class="form-control"
                 id="email"
                 name="email"
                 ng-model="vm.user.email"
                 required
                 autofocus
                 placeholder="Email"
                 ng-keyup="$event.keyCode === 13 ? vm.login(form.$valid) : form.nothing">
          <p ng-show="form.email.$invalid && !form.email.$pristine"
             class="help-block">
            Enter a valid email
          </p>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12"
             ng-class="{ 'has-error': form.password.$invalid && !form.password.$pristine }">
          <label for="password">Password</label>
          <input type="password"
                 style="border: 1px solid #1f59a3"
                 class="form-control"
                 id="password"
                 name="password"
                 ng-model="vm.user.password"
                 required
                 placeholder="Password"
                 ng-keyup="$event.keyCode === 13 ? vm.login(form.$valid) : form.nothing">
          <p ng-show="form.password.$invalid && !form.email.$pristine"
             class="help-block">
            Password is required
          </p>
        </div>
      </div>
    <div class="modal-footer" style="background-color: #0c2340; ">
      <button type="button"
              class="btn btn-secondary"
              ng-click="vm.cancel()"
              style="color: black">
        Cancel
      </button>
      <button type="submit"
              ng-disabled="form.$invalid || vm.processing"
              ng-click="vm.login(form.$valid)"
              class="btn btn-primary"
              style="color: white; background-color: #123561;">
        <span style="color: white; background-color: #123561;">
          <span ng-if="vm.processing" style="color: white; background-color: #123561; border-color: #1f59a3;">
            <i ng-if="vm.processing"
               class="fa fa-spinner fa-spin"></i>&nbsp;
            </span> Submit
        </span>
      </button>
    </div>
    </form>
  </div>
</div>
<div class="modal-footer" style="background-color: #0c2340;">
<!--   <button type="button"
          class="btn btn-secondary"
          ng-click="vm.cancel()">
    Cancel
  </button> -->
<!--   <button type="submit"
          ng-disabled="form.$invalid || vm.processing"
          ng-click="vm.login(form.$valid)"
          class="btn btn-primary">
    <span>
      <span ng-if="vm.processing">
        <i ng-if="vm.processing"
           class="fa fa-spinner fa-spin"></i>&nbsp;
        </span> Submit
    </span>
  </button> -->
</div>