<div class="">
  <div 
    class="thread-wrapper"
    ng-class="{'authorpadding': message.author === data[0].documentClaimedBy}">
    <div
      ng-if="threadAdding !== message.id"
      class="thread"
      ng-class="{
        'sent': message.author === userId,
        'received': message.author !== userId,
        'itstheauthors': message.author === userId,

      }"
      id="{{'wholemessage'+ message.id}}
      "
    >
      <!-- 


      For getting grey message color for others' assertions
      ng-style="{ 'background-color': (message.author !== userId && message.type == 'assertion')  ? 'grey' : message.color }" 



      -->
      <span 
        id="message{{message.id}}"
        
        ng-class="{
          'bigun':message.text.length > 100,
          'normalun':message.text.length <= 100,
          'deleted': message.deleted === true,
          'sent': message.author === userId,
          'received': message.author !== userId,

        }"
        class="tree-node tree-node-content remark remarkparagraph speech-bubble"
        style="background-color: {{ message.color }}"
        ng-click="[
          (!message.deleted) ? [selectedProposition.dialogueSide = true, didItRun(message.id), clearTopAndBottomHasFocus(), selectPropositionById(message.id, selectedProposition), selectedProposition.textSide = false] : inputs.nothing]
        "
        ng-mouseover="[message.mouseOver = true, statementHighlight(message.id), message.updated && !message.deleted ? slideInUpdate() : inputs.nothing]"
        ng-mouseleave="[message.mouseOver = false, statementUnHighlight(message.id)]">
		    <span 
          ng-if="(message.muted && message.author == userId) || !message.muted"
          ng-class="{
            'statementmessagehighlit': statementHighlightIs === message.id && !message.mouseOver && !minimalStyle,
            'underline': message.mouseOver === true,
            'messageupdated': message.text !== message.dialogueText || message.updated,
            'messagedeleted': message.deleted,
          }"
        >
          {{message.text ? message.text : message.dialogueText}}
        </span>
		  </span>
      <span class="message-timestamp received">{{ message.dateCreated }}
      </span>
    </div>
      <!-- ng-style="{ 'margin-top': message.author === userId ? '20px' : '5px'}" -->
      <div class="grow-wrap" 

      ng-class="{
        'chatinputminimized' : hasChatFocusId !== message.id,

        }"
      >
        
        <textarea 
          ng-blur="textareaBlur(message)" 
          oninput="autoResize(this)"
          ng-show="(message.id === hasChatFocusId)"
          ng-hide="(message.id != hasChatFocusId)"
          ng-model="inputs.chatProposition"
          class="chatinput dialogueinput thread speech-bubble sent"
          id="input{{message.id}}"
          ng-keyup="$event.keyCode === 13 && inputs.chatProposition !== '' ? [prepProposition(inputs.chatProposition, null, null, null, null), inputs.chatProposition = '', inputs.messageselected = false] : inputs.nothing"
          ng-style="{ 'background': data[0].documentClaimedBy === userId ? '#f0f0f0' : userColor ? userColor : otherPastels[data[0].authorTable.length-1] }"
          ng-class="{
            'alignright': (message.type === 'assertion' || message.type === 'rejoinder') && message.author !== userId && cowsComeHome,
            'outgoingmessage': message.author !== userId,
            'itstheauthors': userId === data[0].documentClaimedBy
          }"
          spellcheck="false"
          style="margin-top:20px">
        </textarea>
        <!-- onInput="this.parentNode.dataset.replicatedValue = this.value" -->
      </div>
  </div>
</div>
<br>
