<div class="modal-header">
  <div class="modal-title"
       id="modal-title-my-books"><i class="fa fa-book"></i>&nbsp; Library
  </div>
  <button type="button"
          class="btn btn-secondary"
          ng-click="vm.logout()">
    Logout
  </button>
  <button type="button"
          class="btn btn-secondary"
          ng-click="vm.addBookFromLibrary()">
    +
  </button>


  <form name="form"
        novalidate>
    <div class="form-row">
      <div class="form-group col-md-12"
           ng-class="{ 'has-error': form.title.$invalid && !form.title.$pristine }">
        <label for="title">Enter a book id</label>
        <input type="text"
               class="form-control"
               id="title"
               name="bookId"
               ng-model="vm.bookId"
               required
               placeholder="Book id"
               ng-keyup="$event.keyCode === 13 ? vm.openBook() : form.nothing">
        <p ng-show="vm.errors.noBookFound" class="help-block">
          No book with that id found
        </p>
        <p ng-show="vm.errors.misc" class="help-block">
          {{ vm.errors.misc }}

       <!--    There has been an error that ng shows due to third user adding a book -->
        </p>
      </div>

    </div>

  </form>


</div>

<div class="modal-body"
     id="modal-body-library"
     ng-if="vm.books.length !== 0"
     ng-keyup="$event.keyCode === 27 ? vm.cancel() : form.nothing"
     >
  <div style="height: 300px; overflow: scroll;">
  <table class="table col-md-12" >
    <thead>
    <tr>
      <th>Topic</th>
      <th>Last Modified</th>
      <th>Date Created</th>
      <th></th>
    </tr>
    </thead>
    <tr class="book-select"
        ng-repeat="book in vm.books | orderBy:'-book.lastModified'"
        ng-class="{'table-primary': hover }"
        ng-init="hover = false"
        ng-mouseenter="hover = true"
        ng-mouseleave="hover = false">
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.nodes[0].topic }}
      </td>
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.lastModified * 1000 | date:'short' }}
      </td>
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.dateCreated * 1000 | date:'short' }}
      </td>

      <td>
        <button class="btn btn-danger"
                style="z-index: 15"
                ng-click="deleteBook(book.uid)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>

  </table>
</div>

<!--   <table class="table col-md-12">
    <thead>
    <tr>
      <th>Topic</th>
      <th>Last Modified</th>
      <th>Date Created</th>
      <th></th>
    </tr>
    </thead>
    <tr class="book-select"
        ng-repeat="book in vm.books"
        ng-class="{'table-primary': hover }"
        ng-init="hover = false"
        ng-mouseenter="hover = true"
        ng-mouseleave="hover = false">
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.nodes[0].topic }}
      </td>
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.lastModified * 1000 | date:'short' }}
      </td>
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.dateCreated * 1000 | date:'short' }}
      </td>
      <td>
        <button class="btn btn-danger"
                style="z-index: 15"
                ng-click="deleteBook(book.uid)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    <tr class="book-select"
        ng-repeat="book in vm.books"
        ng-class="{'table-primary': hover }"
        ng-init="hover = false"
        ng-mouseenter="hover = true"
        ng-mouseleave="hover = false">
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.topic }}
      </td>
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.lastModified * 1000 | date:'short' }}
      </td>
      <td ng-click="vm.selectBook(book.uid)">
        {{ book.book.dateCreated * 1000 | date:'short' }}
      </td>
      <td>
        <button class="btn btn-danger"
                style="z-index: 15"
                ng-click="deleteBook(book.uid)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </table> -->


<!--   <div ng-if="vm.books.length === 0">
    <div class="col-md-12">
      <div class="text-center text-muted">
        There doesn't seem to be anything here yet.
      </div>
    </div>
  </div> -->
    <form name="form">
      <div class="row">
        <div class="form-group col-md-12">
<!--           <label for="displayName">Display Name</label>
          <input type="text"
                 class="form-control"
                 id="displayName"
                 name="displayName"
                 required
                 autocomplete="off"
                 aria-describedby="displayHelp"
                 ng-keyup="$event.keyCode === 13 ? vm.updateProfile(form.$valid) : form.nothing"
                 ng-model="vm.profile.displayName" />
          <small id="displayHelp"
                 class="form-text text-muted">The name everyone will see.</small>
        </div> -->

  <!--       <div class="form-group col-md-12">
          <label for="first-name">First Name</label>
          <input type="text"
                 class="form-control"
                 id="first-name"
                 name="firstName"
                 aria-describedby="firstNameHelp"
                 ng-model="vm.profile.firstName" />
          <small id="firstNameHelp"
                 class="form-text text-muted">Your first name.</small>
        </div>

        <div class="form-group col-md-12">
          <label for="last-name">Last Name</label>
          <input type="text"
                 class="form-control"
                 id="last-name"
                 name="lastName"
                 aria-describedby="lastNameHelp"
                 ng-model="vm.profile.lastName" />
          <small id="lastNameHelp"
                 class="form-text text-muted">Your last name.</small>
        </div> -->

        <div class="form-group col-md-12">
          <label for="email">Email Address</label>
          <input type="email"
                 class="form-control"
                 id="email"
                 name="email"
                 required
                 autocomplete="off"
                 ng-keyup="$event.keyCode === 13 ? vm.updateProfile(form.$valid) : form.nothing"
                 aria-describedby="emailAddressHelp"
                 ng-model="vm.profile.emailAddress" />
          <small id="emailAddressHelp"
                 class="form-text text-muted">Your preferred contact email.</small>
          <p ng-show="form.email.$invalid && !form.email.$pristine"
             class="help-block">
            Enter a valid email
          </p>
        </div>

      </div>
    </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary"
          ng-click="vm.dismiss()">
    Close
  </button>
</div>

