<div class="row" id="addbookmodal">
  <div class="col-md-12 eleccion">

<!--     <div class="modal-header">
      <div class="modal-title"
           id="modal-title-new-book"><i class="fa fa-book"></i>&nbsp; Add Book
      </div>
    </div> -->
    <div class="modal-body"
         id="modal-body-new-book">
      <form name="form"
            novalidate
            autocomplete="off">
        <div class="form-row">
          <div class="form-group col-md-12 margin" ng-class="{'nomargin': vm.title}"
               >
              <!--  ng-class="{ 'has-error': form.title.$invalid && !form.title.$pristine }" -->
          <!--   <label for="title" class="titular" ng-if="vm.title == ''">Enter a Title</label> -->
            <span class='instruction pull-left' style="">
              <div ng-if="!cowsComeHome" style="text-indent:50px"><strong>Statements</strong> is a convergence of word processing and messaging enabling rapid drafting and improvement of documents.</div>
              <div ng-if="!cowsComeHome" style="text-indent:50px">Authors and reviewers have different roles and editing privileges in Statements. Authors have full control over all content within the document being drafted, while reviewers are capable only of commenting upon sentences within the document. Both roles have abilities to message.</div>
              <div ng-if="!cowsComeHome" style="text-indent:50px">Interactions in Statements take place primarily at the sentence level. To interact with a sentence of message, follow the "click, type, enter" model. The last step commits a sentence ot the document and simultaneously sends the sentence out as a message.</div>
            </span>
            <input type="text"
                   class="form-control addbookinput"
                   id="title"
                   name="title"
                   ng-model="vm.title"
                   required
                   placeholder="Enter a title"
                   ng-keyup="$event.keyCode === 13 ? vm.addNewBook() : form.nothing">
<!--             <p ng-show="form.title.$invalid && !form.title.$pristine"
               class="help-block">
              Book must have a title
            </p> -->
            <span class='instruction pull-right' style="min-height: 45px">
              <div ng-if="vm.title">Press {{enter}} to begin writing</div>
            </span>
          </div>

        </div>

      </form>
      
    </div>

<!--     <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary"
              ng-click="vm.cancel()">
        Cancel
      </button>
      <button type="submit"

              ng-click="vm.addNewBook()"
              class="btn btn-primary">
        <span>
          <span ng-if="vm.processing">
            <i class="fas fa-spinner fa-spin"></i>&nbsp;
          </span>
          Submit
        </span>
      </button>
    </div> -->
   
      
    
  </div>

  <!--
<div class="col-md-6 choice">
<div class="modal-header">
  <div class="modal-title"
       id="modal-title-add-existing-book"><i class="fa fa-book"></i>&nbsp; Add Existing Book
  </div>
</div>
<div class="modal-body"
     id="modal-body-add-existing-book">
  <form name="form"
        novalidate>
    <div class="form-row">
      <div class="form-group col-md-12"
           ng-class="{ 'has-error': form.title.$invalid && !form.title.$pristine }">
        <label for="title">Enter a book id</label>
        <input type="text"
               class="form-control"
               id="title"
               name="bookId"
               ng-model="vm.bookId"
               required
               placeholder="Book id"
               ng-keyup="$event.keyCode === 13 ? vm.openBook() : form.nothing">
        <p ng-show="vm.errors.noBookFound" class="help-block">
          No book with that id found
        </p>
        <p ng-show="vm.errors.misc" class="help-block">
          {{ vm.errors.misc }}

           There has been an error that ng shows due to third user adding a book
        </p>
      </div>

    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-secondary"
          ng-click="vm.cancel()">
    Cancel
  </button>
  <button type="submit"
          ng-disabled="form.$invalid || vm.processing"
          ng-click="vm.openBook()"
          class="btn btn-primary">
    <span>
    <span ng-if="vm.processing">
      <i class="fas fa-spinner fa-spin"></i>&nbsp;
    </span>
    Submit
    </span>
  </button>
</div>

</div>
-->
</div>
