.landing-wrapper {

  overflow: hidden;
  scroll-behavior: smooth;
  font: 75% / 1.5 Arial;

  a {
    text-decoration: none;
    color: white;
  }

  .footer-wrapper {
    padding: 12px;
    position: absolute;
    bottom: 0;
    left: 350px;
    color: grey;
    display: block;
    font-size: 0.5em;
  }

  .scroll-icon-wrapper {
    position: absolute;
    bottom: 0;
    right: 20px;
    display: block;
    opacity: .5;
    color: white;
    font-size: 75%;
  }

  .scroll-icon-wrapper:hover {
    cursor: pointer;
    opacity: 1;
  }

  .slider {
    height: calc(200px * 2.3);
  }

  div.carouselcontainer {
    position: absolute;
    right: 850px;
    font-size: 8pt;
    height: 200px;
    transition: left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s ease;
    /*(    float: left;*/
  }

  /*div {
      font-size: 8pt;
      height: 200px;
      transition: left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s ease;
  }*/

  div.sliderContainer {
    position: relative;
  }

  #directLinkInput {
    width: 350px;
  }

  .zero {
    width: calc(295.66px * 2.3);
    display: flex;
    align-items: flex-start;
    justify-content: row;
  }

  .infotext {
    display: flex;
    width: 200px;
    min-width: 229px;
    font-size: 30pt;
  }

  .preload {
    visibility: hidden;
  }

  .editortext {
    background: url('/assets/images/infection_1.gif') center center no-repeat;
    background-size: contain;
    font-size: 60pt;
    min-width: 449.5px;
    height: 460px;
  }

  .messenger {
    background: url('/assets/images/infection_2.gif') center center no-repeat;
    background-size: contain;
    display: flex;
    font-size: 20pt;
    min-width: calc(120px * 2.3);
    max-width: calc(120px * 2.3);
    min-height: 458px;
  }

  .messenger2 {
    background: url('/assets/images/infection_3.gif') center center no-repeat;
    background-size: contain;
    display: flex;
    font-size: 20pt;
    min-width: calc(120px * 2.3);
    max-width: calc(120px * 2.3);
    min-height: 458px;
  }

  video {
    pointer-events: none;
    width: 90%;
    height: 100%;
    padding-left: 10%;
  }

  .nologin {
    cursor: not-allowed;
  }


  .browser-wrapper {
    background: white;
    overflow: hidden;
    display: block;
    border: 1px solid black;
    margin: 10px;
    padding: 0;
    max-height: calc(100vh - 150px);
    font-size: 1em;
  }

  .browser-button-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
  }

  .windows {
    .browser-wrapper {
      border-radius: 0;
    }

    .fa {
      font-size: 10pt !important;
    }

    .browser-button-wrapper {
      flex-direction: row-reverse;
      align-items: flex-end;
      padding: 0 12px 0 0;
      margin: 0;
    }

    .browser-button {
      margin-left: 12px;
      color: white;
      display: inline-block;
    }

    .browser-button.left {
      background: transparent;
    }

    .browser-button.middle {
      background: transparent;
    }

    .browser-button.right {
      background: transparent;
    }

    .browser-bar {
      background: #3376D0;
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      justify-content: center;
      height: 36px;
    }
  }

  .mac {
    .browser-wrapper {
      border-radius: 10px;
    }

    .browser-button {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      margin-right: 4px;
      display: inline-block;
    }

    .browser-button.left {
      background: rgb(244, 8, 8);
      background: linear-gradient(45deg, rgba(244, 8, 8, 1) 82%, rgba(236, 105, 105, 1) 100%);
    }

    .browser-button.middle {
      background: rgb(244, 221, 40);
      background: linear-gradient(45deg, rgba(244, 221, 40, 1) 82%, rgba(236, 234, 105, 1) 100%);
    }

    .browser-button.right {
      background: rgb(22, 191, 64);
      background: linear-gradient(45deg, rgba(22, 191, 64, 1) 82%, rgba(105, 222, 129, 1) 100%);
    }

    .browser-bar {
      background: rgb(51, 51, 51);
      background: linear-gradient(0deg, rgba(51, 51, 51, 1) 0%, rgba(57, 52, 52, 1) 4%, rgba(57, 52, 52, 1) 94%, rgba(204, 204, 204, 1) 100%);
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      height: 36px;
    }
  }

  .video-container {
    background-color: white;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  .video-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
  }

  .description {
    text-align: center;
  }

  .innerbox {
    display: flex;
    align-items: flex-start;
    justify-content: row;
  }

  .flushright {
    right: 0px;
    position: absolute;
  }

  .one, .two {
    width: calc(225px * 2.3);
  }

  .one {
    position: absolute;

  }

  .hideright {
    left: calc(1000px * 2.3);
  }

  .two {
    position: absolute;
  }

  div.slider {
    display: block;
    /*border: 1px solid black;*/
    /* position: relative; */
    top: 0;
    //background-color: #ccf;
  }

  .inner {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .oneright {
    animation-duration: 1s;
    animation-name: oneright;
    animation-direction: left;
    position: absolute;
    left: calc(296px * 2.3);
  }


  .byezero {

  }

  .byetwo {
    display: none;
  }

  .slideright {
    animation-duration: 1s;
    animation-name: slideright;
    animation-direction: right;
  }

  .oneleft {
    animation-duration: 1s;
    animation-name: oneleft;
    left: 0px;
  }

  .two {
    animation-duration: 1s;
    animation-name: two;
    animation-direction: right;
    left: calc(236px * 2.3);
  }

  .byezero {
    animation-duration: 1s;
    animation-name: byezero;
    animation-direction: right;
    left: calc(1000px * 2.3);
    display: none;
  }

  .zeroexitleft {
    animation-duration: 1s;
    animation-name: zeroexitleft;
    animation-direction: left;
    right: calc(500px * 2.3);
  }

  .byetwo {
    display: none;
  }

  .wide {
    right: 440px;
  }

  .narrow {
    right: 400px;
  }

  .twotoone {
    animation-duration: 1s;
    animation-name: twotoone;
    animation-direction: right;
    left: calc(297.33px * 2.3);
  }

  .zeroenterleft {
    animation-duration: 1s;
    animation-name: zeroenterleft;
    left: 0px;
  }

  .twoexitright {
    animation-duration: 1s;
    animation-name: twoexitright;
    animation-direction: right;
    left: calc(1000px * 2.3);
  }

  .oneexitright {
    animation-duration: 1s;
    animation-name: oneexitright;
    animation-direction: right;
    left: calc(1000px * 2.3);
  }

  @keyframes fade-in-down {
    from {
      opacity: 0;
      margin-bottom: 0.5em;
    }

    to {
      opacity: 1;
      margin-bottom: 0;
    }
  }

  @keyframes twoexitright {
    from {
      left: calc(297.33px * 2.3);
    }

    to {

      left: calc(1000px * 2.3);
    }
  }

  @keyframes oneexitright {
    from {
      left: calc(297.33px * 2.3);
    }

    to {

      left: calc(1000px * 2.3);
    }
  }

  @keyframes zeroenterleft {
    from {
      right: calc(1000px * 2.3);

    }

    to {

      left: 0px;
    }
  }

  @keyframes twoexitleft {
    from {
      left: calc(230px * 2.3);
    }

    to {

      left: calc(2000px * 2.3);
    }
  }

  @keyframes zeroenterleft {
    from {
      right: calc(1000px * 2.3);
      opacity: 0;
    }

    to {
      opacity: 1;
      left: 0px;
    }
  }

  @keyframes twotoone {
    from {
      left: 0px;
    }

    to {

      left: calc(297.33px * 2.3);
    }
  }

  @keyframes zeroexitleft {
    from {
      left: 0px;
      opacity: .5;
    }

    to {
      opacity: 0;
      right: calc(1000px * 2.3);
    }
  }

  @keyframes byetwo {
    from {
      left: calc(1000px * 2.3);
    }

    to {

      left: calc(265px * 2.3);
    }
  }

  @keyframes byezero {
    from {
      left: 0%;
      opacity: 0;
    }

    to {
      opacity: 0;
      right: calc(1000px * 2.3);
    }
  }

  @keyframes oneleft {
    from {
      left: calc(297.33px * 2.3);
    }

    to {
      left: 0px;
    }
  }

  @keyframes oneright {
    from {
      left: calc(1000px * 2.3);
    }

    to {
      left: calc(297.33px * 2.3);
    }
  }

  @keyframes two {
    from {
      left: calc(2000px * 2.3);
    }

    to {
      left: calc(236px * 2.3);
    }
  }


  @media screen and (max-width: 100em) {
    zoom: 50%;
  }

  .regularcursor {
    position: relative;

    background-color: white;
    color: white !important;
    bottom: 30px;
  }

  @media only screen and (max-width: 500px) {
    .guest-button-wrapper {
      display: none;
    }
  }

  .guest-button-wrapper {
    position: relative;
    // bottom: 25%;
    // width: 33%;
    // left: 33%;
    // margin: 0 auto;
    display: block;
    cursor: pointer;
    bottom: 110px;
  }


  .dark-button {
    background-color: white;
    color: black;
    font-size: 28pt;
    margin-left: auto !important;
    margin-right: auto !important;
    //border: 1px solid rgb(33,33,33);

    &:hover {
      background-color: #454545;
      color: white;
    }

    &:active {
      color: white;
    }
  }



  .parallax {
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 302px;
    perspective: 302px;
    text-align:center;
    background: rgb(161, 178, 253);
    background: -moz-linear-gradient(315deg, rgba(161, 178, 253, 1) 11%, rgba(194, 233, 251, 1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(161, 178, 253, 1) 11%, rgba(194, 233, 251, 1) 100%);
    background: linear-gradient(315deg, rgba(161, 178, 253, 1) 11%, rgba(194, 233, 251, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1b2fd", endColorstr="#c2e9fb", GradientType=1);

  }

  .parallax-group {
    position: relative;
    height: 500px; /* fallback for older browsers */
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax-layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
  }

  .parallax-layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
  }

  .parallax-layer--back {
    -webkit-transform: translateZ(-300px) scale(2.01);
    transform: translateZ(-300px) scale(2.01);
    z-index: 3;
  }

  .parallax-layer--deep {
    -webkit-transform: translateZ(-600px) scale(3.01);
    transform: translateZ(-600px) scale(3.01);
    z-index: 4;
  }


  /* Debugger styles */

  .debug-box {
    width: 150px;
    position: fixed;
    bottom: 24px;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .85);
    color: #fff;
    padding: .5em;
    border-radius: 0 5px 5px 0;
  }

  .debug-on .parallax-group {
    -webkit-transform: translate3d(800px, 0, -800px) rotateY(30deg);
    transform: translate3d(700px, 0, -800px) rotateY(30deg);
  }

  .debug-on .parallax-layer {
    box-shadow: 0 0 0 2px #000;
    opacity: 0.9;
  }

  .parallax-group {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
  }

  .icon-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: rgb(161, 178, 253);
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 24px;
  }

  .full-height {
    height: 100vh;
  }

  .parallax {
    font-size: 200%;
  }

  /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .emphasize {
    font-weight: bold;
  }

  ul {
    list-style: none;
  }

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

  }

  .big-text {
    font-size: 32pt;
    padding-top: 30%;
  }

  .preview-img {
    width: 710px;
    height: 361.8px;
    background: url('/assets/images/overview.gif') center center no-repeat;
    background-size: contain;
    box-shadow: 0 30px 40px -25px rgba(0, 0, 0, 1);

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: perspective(2000px) rotate3d(0, 1, 0, 0deg);


    animation: fadeInDrop 1s;
  }

  #group1 {
    z-index: 3; /* slide under group 2 */
  }

  #group1 .parallax-layer--deep {
    height: 120%;
  }

  #group2 {
    z-index: 5; /* slide over group 1 */
    /*margin-top: 100%;*/
    color: white;
  }

  #group2 .parallax-layer--base {
    background-color: #212121;
  }

  #group2 .parallax-layer--fore {
  }


  /* Animations */

  @keyframes fadeInDrop {
    from {
      opacity: 0;
      transform: perspective(2000px) translateY(-30px) rotate3d(0, 1, 0, -30deg);
    }
    to {
      opacity: 1;
      transform: perspective(2000px) translateY(0) rotate3d(0, 1, 0, 0deg);
      box-shadow: 0 30px 40px -25px rgba(0, 0, 0, 1);
    }
  }


}
