<div class="row" id="addbookmodal" style="background-color: #0c2340; color: #f0f0f0; ">
  <div class="col-md-12 eleccion">

<!--     <div class="modal-header">
      <div class="modal-title"
           id="modal-title-new-book"><i class="fa fa-book"></i>&nbsp; Add Book
      </div>
    </div> -->
    <div class="modal-body"
         id="modal-body-new-book">
      <form name="form"
            novalidate
            autocomplete="off">
        <div class="form-row">
          <div class="form-group col-md-12 margin" ng-class=""
               >
              <!--  ng-class="{ 'has-error': form.title.$invalid && !form.title.$pristine }" -->
          <!--   <label for="title" class="titular" ng-if="vm.title == ''">Enter a Title</label> -->
            <span class='instruction' style="">
              <div ng-if="!cowsComeHome" style="text-align: center">Please enter your email:</div>

            </span>
            <br>
            <input type="email"
                   class="form-control addbookinput"
                   id="title"
                   name="title"
                   ng-model="vm.title"
                   required
                   placeholder=""
                   ng-keyup="$event.keyCode === 13 ? vm.addNewBook() : form.nothing">

            <div class="button-container" style="text-align: center; margin-top: 20px; padding-bottom: 15px;">
                <button style="background-color: #0c2340; color: white; font-family: Arial; font-size: 110%; line-height: 1.428571429; padding: 10px 20px; border: 1px solid white; border-radius: 10px; margin-right: 10px;">Export to .txt</button>
                
            </div>

          </div>

        </div>

      </form>
      
    </div>


   
      
    
  </div>


</div>
